@import 'bootstrap/bootstrap';

@brand-primary: #1C9CBA;
@brand-secondary: #0A326B;

@charcoal: #403C39;
@charcoal: #414042;
@app-gray: #F0F0F0;

@white: #ffffff;

html{
	background: @charcoal;
	body{
		background: @app-gray;
		color: @charcoal;
		.container{
			max-width: 970px;
		}
	}
}

// section{
// 	.page-heading{
// 		h1,h2,h3,h4,h5{
// 			margin-top: 0;
// 		}
// 	}
// }

form.form{
	margin: 0;
	h1,h2,h3,h4,h5{
		margin-top: 0;
	}
}

header{
	padding-top: 44px;
	padding-bottom: 22px;
	.navbar{
		.navbar-header{
			.navbar-brand{
				height: auto;
				padding: 0 15px;
				margin-top: -20px;
			}
			.navbar-toggle{
				span.icon-bar{
					background: @brand-primary;
				}
			}
		}
		#main-nav{
			ul.navbar-right{
				li{
					a{
						text-transform: uppercase;
						font-size: 16px;
						color: @charcoal;
						font-weight: bold;
						&:hover{
							color: @brand-primary;
							background: transparent;
						}
					}
				}
				@media(min-width: (@grid-float-breakpoint+1px)){
					li{
						padding: 10px;
						a{
							padding: 5px;
							&:hover{
								border-bottom: 2px solid @brand-primary;
							}
						}
						&.active a{
							color: @brand-primary;
							border-bottom: 2px solid @brand-primary;
						}
					}
				}
				@media(max-width: @grid-float-breakpoint){
					li a{
						text-align: right;
					}
				}
			}
		}
	}
}

section#home-banner{
	background: transparent url('../images/home-bg2.png') 80% top no-repeat;
	// background-size: 700px auto;
	padding-bottom: 40px;
	min-height: 420px;
	@media(max-width: 1300px){
		background-position: right top;
	}
	@media(max-width: @screen-sm-max){
		background-position: right 100px;
	}
	@media(max-width: @screen-xs-max){
		// min-height: 300px;
		background-position: center 190px;
	}
	@media(max-width: 435px){
		background-position: center 240px;			
	}
	#cta{
		.cta-text{
			font-size: 20px;
			padding-bottom: 10px;
			@media(max-width: @screen-xs-max){
				max-width: 80%;
				margin: 0 auto;
			}
			@media(max-width: 520px){
				font-size: 18px;
				max-width: 90%;
			}
			@media(max-width: 435px){
				font-size: 16px;
				max-width: 100%;
			}
		}
		@media(max-width: @screen-xs-max){
			text-align: center;
			margin-bottom: 20px;
		}
		@media(max-width: 520px){
			h1{
				font-size: 30px;
			}
		}
	}
	.image-wrap{
		text-align: right;
		display: none;
		img{
			float: right;
		}
		@media(max-width: @screen-xs-max){
			display: block;
		}
	}
}

section#service-overview{
	position: relative;
	background: @brand-primary url('../images/home-bg.png') 10% 100px no-repeat;
	padding: 20px 0;
	.btn.btn-default{
		background: @brand-secondary;
		color: @white;
	}
	@media(max-width: @screen-sm-max){
		background-position: -400px bottom;
	}
}

section#partner-bar{
	border: 2px solid @charcoal;
	border-width: 2px 0;
	padding: 12px 0;
	background: @white;
	.image-wrap{
		height: 102px;
		line-height: 102px;
		text-align: center;
		img{
			vertical-align: middle;
			display: inline-block;
		}
	}
}

.feature-detail{
	ul.media-list{
		li.media{
			margin-bottom: 20px;
			&>.pull-left{
				margin-right: 20px;
			}
		}
		@media(max-width: @screen-sm-max){
			border-bottom: 1px solid @charcoal;
			padding: 20px 0;
		}
		@media(min-width: @screen-sm-min) and (max-width: @screen-sm-max){
			li.media{
				width: 50%;
				float: left;
				margin-top: 0;
				.box-sizing(border-box);
				padding-left: 20px;
				&:first-child{
					padding-left: 0;
				}
			}
		}
		@media(min-width: @screen-md-min){
			li.media{
				min-height: 454px;
			}
		}
		@media(min-width: @screen-lg-min){
			li.media{
				min-height: 314px;
			}
		}
		&.last{
			border-bottom: none !important;
		}
	}
}

.features{
	.highlights{
		background: transparent;
		// color: @white;
		min-height: 206px;
		text-align: center;
		border: 2px solid @brand-secondary;
	}
}

#services{
	padding-bottom: 40px;
	.page-heading{
		h2{
			margin-bottom: 30px;
		}
	}
	.btn.visible-xs{
		margin-top: 20px;
		background: @brand-secondary;
	}
}

.affix-container form{
	background: @brand-secondary;
	color: @white;
	.btn{
		background: @white;
		color: @brand-primary;
		border-color: @white;
	}
}


footer{
	background: @charcoal;
	min-height: 200px;
	padding-top: 40px;
	color: @white;
}