@import 'bootstrap/bootstrap';

@brand-primary: #1C9CBA;
@brand-secondary: #0A326B;
@brand-tertiary: @app-black;

@charcoal: #403C39;
@charcoal: #414042;
@app-gray: #F0F0F0;
@app-black: #232323;

@white: #ffffff;

@input-border: @app-black;
@input-color-placeholder: fade(@brand-primary, 60%);

.btn{
	&.btn-bordered{
		border: 2px solid @brand-primary;
		background: @white;
		color: @brand-primary;
	}
	&.btn-secondary{
		background: @brand-secondary;
		color: @white;
	}
	&.btn-tertiary{
		background: @brand-tertiary url('../images/temp/tertiary-pattern.png') left top repeat;
		color: @white;
	}
}

html{
	background: @app-black url('../images/temp/tertiary-pattern.png') left top repeat;
	body{
		background: @white;
		color: @charcoal;
		font: normal normal 300 16px/1.35 'Source Sans Pro', sans-serif;
		.container{
			max-width: 970px;
		}
		h1,h2,h3,h4,h5{
			font-family: 'Dosis', sans-serif;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
}

// section{
// 	.page-heading{
// 		h1,h2,h3,h4,h5{
// 			margin-top: 0;
// 		}
// 	}
// }

form.form{
	margin: 0;
	h1,h2,h3,h4,h5{
		margin-top: 0;
	}
}

header{
	padding: 16px 0;
	// border-bottom: 2px solid @charcoal;
	.navbar{
		margin: 0;
		.navbar-header{
			.navbar-brand{
				height: auto;
				padding: 0 15px;
				// max-width: 200px;
			}
			.navbar-toggle{
				span.icon-bar{
					background: @brand-primary;
				}
			}
		}
		#main-nav{
			ul.navbar-right{
				li{
					a{
						text-transform: uppercase;
						font-size: 18px;
						color: @charcoal;
						// font-weight: bold;
						&:hover{
							color: @brand-primary;
							background: transparent;
						}
					}
				}
				@media(min-width: (@grid-float-breakpoint+1px)){
					margin-top: 17px;
					li{
						padding: 10px;
						a{
							padding: 5px;
							&:hover{
								border-bottom: 1px solid @brand-primary;
							}
						}
						&.active a{
							color: @brand-primary;
							border-bottom: 1px solid @brand-primary;
						}
					}
				}
				@media(max-width: @grid-float-breakpoint){
					li a{
						text-align: right;
					}
				}
			}
		}
	}
}

section#home-banner{
	background: transparent url('../images/home-bg2.png') 80% top no-repeat;
	// background-size: 700px auto;
	padding-bottom: 40px;
	min-height: 420px;
	@media(max-width: 1300px){
		background-position: right top;
	}
	@media(max-width: @screen-sm-max){
		background-position: right 100px;
	}
	@media(max-width: @screen-xs-max){
		// min-height: 300px;
		background-position: center 190px;
	}
	@media(max-width: 435px){
		background-position: center 240px;			
	}
	#cta{
		.cta-text{
			font-size: 20px;
			padding-bottom: 10px;
			@media(max-width: @screen-xs-max){
				max-width: 80%;
				margin: 0 auto;
			}
			@media(max-width: 520px){
				font-size: 18px;
				max-width: 90%;
			}
			@media(max-width: 435px){
				font-size: 16px;
				max-width: 100%;
			}
		}
		@media(max-width: @screen-xs-max){
			text-align: center;
			margin-bottom: 20px;
		}
		@media(max-width: 520px){
			h1{
				font-size: 30px;
			}
		}
	}
	.image-wrap{
		text-align: right;
		display: none;
		img{
			float: right;
		}
		@media(max-width: @screen-xs-max){
			display: block;
		}
	}
}

section#banner{
	background: @brand-primary url('../images/temp/stock-bg.png') center center no-repeat;
	padding: 40px 0 40px;
	.well{
		margin-bottom: 0;
		.cta-wrap{
			h3{
				margin-top: 0;
			}
			@media(min-width: @screen-sm-min){
				.btn{
					margin-top: 20px;
				}
			}
			@media(min-width: @screen-xs-min){
				.btn{
					// display: block;
				}
			}
			@media(max-width: @screen-xs-max){
				margin-bottom: 10px;
				h3{
					display: inline-block;
					float: left;
					// margin-bottom: 0;
				}
				.btn{
					// margin-bottom: 10px;
					margin-top: -4px;
					float: right;
					// display: inline-block !important;
				}
				p{
					// display: none;
					clear: both;
					// margin-top: 10px;
				}
			}
			@media(max-width: 440px){
				h3{
					float: none;
				}
				.btn{
					margin-top: 10px;
					float: none;
					display: block;
				}
			}
		}
		// padding: 0;
		// border: 20px solid @white;
		// background: transparent;
		// border-radius: @border-radius-base;
		// div.cta-wrap{
		// 	padding: 20px;
		// 	color: @white;
		// 	border: 4px solid @white;
		// 	margin-right: -30px;
		// 	height: 100%;
		// }
		// div.image-wrapper{
		// 	padding-left: 20px;
		// 	background: @white;
		// 	img{
		// 		border-radius: @border-radius-base;
		// 	}
		// }
	}
}

#service-callout{
	padding: 40px 0;
	.faux-row{
		display: table;
		border-spacing: 30px;
		margin: -30px;
		.thumbnail{
			text-align: center;
			position: relative;
			padding-bottom: 39px;
			margin-bottom: 0;
			width: 33%;
			display: table-cell;
			img.media-object{
				position: absolute;
				top: 29.154519%;
				margin: 0 auto;
			}
			.btn{
				position: absolute;
				left: 5px;
				bottom: 5px;
				right: 5px;
			}
			&.first{
				margin-right: 15px;
			}
			&.last{
				margin-left: 15px;
			}
		}
	}
}

section#interior-banner{
	padding: 40px 0;
	border: 8px solid @brand-primary;
	border-width: 8px 0;
	background: @app-black url('../images/temp/tertiary-pattern.png') left top repeat;
	h1, h4{
		color: @white;
	}
	h1{
		margin-top: 0;
	}
	h4{
		margin-bottom: 0;
	}
}

//old
section#service-overview{
	position: relative;
	background: @brand-primary url('../images/home-bg.png') 10% 100px no-repeat;
	padding: 20px 0;
	.btn.btn-default{
		background: @brand-secondary;
		color: @white;
	}
	@media(max-width: @screen-sm-max){
		background-position: -400px bottom;
	}
}

section#partner-bar{
	border: 2px solid @charcoal;
	border-width: 2px 0 0;
	padding: 12px 0;
	background: @white;
	.image-wrap{
		height: 102px;
		line-height: 102px;
		text-align: center;
		img{
			vertical-align: middle;
			display: inline-block;
		}
	}
}

.feature-detail{
	ul.media-list{
		li.media{
			margin-bottom: 20px;
			&>.pull-left{
				margin-right: 20px;
			}
		}
		@media(max-width: @screen-sm-max){
			border-bottom: 1px solid @charcoal;
			padding: 20px 0;
		}
		@media(min-width: @screen-sm-min) and (max-width: @screen-sm-max){
			li.media{
				width: 50%;
				float: left;
				margin-top: 0;
				.box-sizing(border-box);
				padding-left: 20px;
				&:first-child{
					padding-left: 0;
				}
			}
		}
		@media(min-width: @screen-md-min){
			li.media{
				min-height: 454px;
			}
		}
		@media(min-width: @screen-lg-min){
			li.media{
				min-height: 314px;
			}
		}
		&.last{
			border-bottom: none !important;
		}
	}
}

.features{
	.highlights{
		background: transparent;
		// color: @white;
		min-height: 206px;
		text-align: center;
		border: 2px solid @brand-secondary;
	}
}

#services{
	padding: 40px 0;
	.btn.visible-xs{
		margin-top: 10px;
	}
	@media(min-width: 481px){
		.media .pull-right{
			display: none;
		}
	}
	@media(max-width: 480px){
		.media{
			&>.pull-left{
				display: none;
			}
			.pull-right{
				display: block;
				margin: 0 0 20px 10px;
			}
			.media-body{
				display: inline-block;
			}
		}
	}
}

#about-us{
	padding: 40px 0;
	.info-box{
		margin-top: 20px;
		.map-wrap-wrapper{
			border: 4px solid @brand-primary;
			border-radius: @border-radius-base;
			overflow: hidden;
		}
	}
}

form.form{
	border: 4px solid @brand-primary;
	h3{
		text-align: center;
	}
}


footer{
	background: @app-black url('../images/temp/tertiary-pattern.png') left top repeat;
	min-height: 200px;
	padding-top: 40px;
	border-top: 8px solid @brand-primary;
	color: @white;
}